.colorOption {
  inline-size: 40px;
  block-size: 40px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.colorOption:hover {
  box-shadow: 0 0 0 2px var(--side-nav-hover-color);
}

.initial {
  font-size: 20px;
  line-height: 1em;
  text-align: center;
  user-select: none;
}
