h3 {
  margin-block: 0 10px;
  text-align: center;
}

.message {
  color: var(--tertiary-text-color);
}

.profilePreviewSection,
.profileNameSection,
.colorPickerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  border: 0;
  border-block-start: 1px solid var(--tertiary-text-color);
  margin-block: 16px;
  inline-size: 100%;
}

.profileName,
.colorSelection {
  margin: auto;
  inline-size: 350px;
  max-inline-size: 100%;
}

.colorOptions {
  margin-inline: auto;
  justify-content: center;
  min-inline-size: 250px;
}

.customColorSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-block-start: 5px;
}

.colorOption {
  inline-size: 40px;
  block-size: 40px;
  margin: 2px;
  cursor: pointer;
  border-radius: 50%;
}

.initial {
  font-size: 37.5px;
  text-align: center;
  user-select: none;
}

.colorOption.previewBubble {
  inline-size: 75px;
  block-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.actionButtons {
  flex-wrap: wrap;
}
