.instanceInput {
  inline-size: 460px;
  max-inline-size: 100%;
}

.instanceInfoLink {
  white-space: nowrap;
}

@media only screen and (width <= 680px) {
  .instanceInput {
    inline-size: 100%;
  }
}
