.settingsToolbar {
  display: flex;
  justify-content: flex-end;
  margin-block-end: 10px;
}

.settingsPanel {
  inline-size: 90%;
  margin-inline: auto;
}


@media only screen and (width <= 680px) {
  .tabs,
  .settingsPanel {
    inline-size: 90%;
  }
}

.settingsSection {
  background-color: var(--card-bg-color);
  margin-block-start: 20px;
}
