.refreshNavButton {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  color: var(--primary-text-color);
  cursor: pointer;
  display: flex;
  gap: 8px;
  line-height: 1em;
  margin-inline-end: 10px;
  padding-block: 8px;
  padding-inline: 10px;
  white-space: nowrap;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  :global(.topNavBarColor) & {
    color: var(--text-with-main-color);

    &:hover:not(:disabled) {
      background-color: var(--primary-color-hover);
    }

    &:active:not(:disabled) {
      background-color: var(--primary-color-active);
    }
  }

  &:hover:not(:disabled) {
    background-color: var(--side-nav-hover-color);
    color: var(--side-nav-hover-text-color);
    transition: background 0.2s ease-in;
  }

  &:active:not(:disabled) {
    background-color: var(--tertiary-text-color);
    color: var(--side-nav-active-text-color);
    transition: background 0.2s ease-in;
  }
}

.refreshIcon {
  block-size: 1em;
  font-size: 16px;
  inline-size: 1em;
}

.refreshTimestamp {
  font-size: 14px;
}

@media only screen and (width <= 680px) {
  .refreshTimestamp {
    display: none;
  }
}
